{% extends 'tasks/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Create task{% endblock %}

{% block content %}
<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2">Tasklist create</h1>
            <hr class="mt-0 mb-4">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="submit" class="btn btn-success">
            </form>
        </div>
      </div>
    </div>
{% endblock %}